Datos_XML/XSD/Grupo_Cotizacion.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Grupo_Cotizacion_Tabla">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Grupo_Cotizacion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Id" type="xs:integer"></xs:element>
                            <xs:element name="sueldo_base" type="xs:integer"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>